 @*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
 <h1> Cadastro de aniversariantes</h1>

 <form action="/aniversariante/novo" method="post">
     <label for="nome">Nome:</label>
     <input type="text" name="nome" id="nome">
     <label for="aniversario">Nascimento:</label>
     <input type="date" name="aniversario" id="aniversario">
     <input type="submit" value="Cadastrar">



 </form>


}
